In [1]:
import sys, os

sys.path.insert(1, '../scripts')
root = os.getcwd()


from TwintDataMiner import TwintDataMiner
from DataCleaner import DataCleaner

In [2]:
tweetsFile = "../data/tweets.csv"
tdm = TwintDataMiner()
#tdm.getAttribute("tweet", tweetsFile)

In [3]:
attributes = ["id", "tweet", "place", "time"]
df = tdm.getPandasDataFrame(attributes, tweetsFile)
df = df[:100]
#df.head

In [5]:
dc = DataCleaner()
df = dc.deEmojify(df, 'tweet')
#df = dc.translate(df, 'tweet', 'translatedTweet')

In [6]:
df.head

<bound method NDFrame.head of                      id                                              tweet  \
0                    id                                              tweet
1   1240726794422149120  Note pour le jour d'après qui ne sera pas le j...
2   1240726794417967111  BREAKING: Germany reports 2982 new coronavirus...
3   1240726794338275328  México confirma su primera muerte por coronavi...
4   1240726794111762436  Eu queria ser coronavirus mas coronavirus eu n...
..                  ...                                                ...
95  1240726779662413826  "Cirque Du Soleil Axes Almost All Staff as Cor...
96  1240726779553177600  For those who are otherwise or deliberately un...
97  1240726779536572417  BREAKING: Germany reports 2982 new coronavirus...
98  1240726779482046465  Nptq pcq la grippe tue bcp plus en France que ...
99  1240726778982944780  Voilà ce qui se passe depuis hier à 20h et app...

    place      time
0   place      time
1          19:48:14
2          19:48:14
3          19:48:14
4          19:48:13
..    ...       ...
95         19:48:10
96         19:48:10
97         19:48:10
98         19:48:10
99         19:48:10

[100 rows x 4 columns]>